body{
    background-color: #f4f4f4;
}
h1{
    color: blue;
}
.aaa h1 {
    color: darkred;
}
.sayakuning  {
    color: yellow ;
} 
.aab h1 {
    color: darkviolet; text-decoration: underline;
}
h1 a{
    text-decoration: none;
    text-transform: capitalize;

}
h1 a:hover{
    color: teal;
}
img.image-size-medium {
    max-width: 400px;
}
.container{
    background-color: #fff;
    padding: 0;
}
header{
    padding: 20px 15px;
    border: 1px solid #f4f4f4;
}
img.logo{
    max-width: 150px;
}
ul.nav li a {
    color: #2f3134;
}