body {
    background-color: darkgrey;
}

h1{
    color: blue;
}
.aaa h1 {
    color: darkred;
}
.sayakuning  {
    color: yellow ;
} 
.aab h1 {
    color: darkviolet; text-decoration: underline;
}
h1 a{
    text-decoration: none;
    text-transform: capitalize;

}
h1 a:hover{
    color: teal;
}
img.image-size-medium {
    max-width: 400px;
}
.container{
    width: 80%;
    margin: 0 auto;
    background-color: #f4f4f4;
}